{% extends 'thirdauth/base.html' %}

{% block main %}
<div class="container">
  <div class="jumbotron text-center">
    <h1>My Task2 for You</h1> 
    <p>Of course I could do everything by hand but did not.</p> 
  </div>
  <div class="text-center">
	  {% if user and not user.is_anonymous %}
		{% if user.is_superuser %}
	  		<h1><span class="label label-success">You can do everything you want!</span></h1>
		{% else %}
	  		{% if user.is_staff %}
	  			<h1><span class="label label-info">You can access the admin site!</span></h1>
			{% else %}
				<h1><span class="label label-default">You are just a user, without any rights!</span></h1>
			{% endif %}
	  	{% endif %}
	  {% endif %}
  </div>
</div>
{% endblock %}